#conteneur{
margin: auto;
height: 20%;
width: 20%;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr;
padding-bottom: 10px;
}
.pink{
background-color: pink;
text-align: center;
border: 1px solid black;

}


.blue{
background-color: aqua;
text-align: center;
border: 1px solid black;


}
#conteneur2{
    margin: auto;
    height: 20%;
    width: 20%;
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding-bottom: 10px;
    
    }   
        #conteneur3{
            margin: auto;
            height: 20%;
            width: 20%;
            display: grid;
            grid-template-columns: 1fr 2fr 3fr;
            grid-template-rows: 2fr 1fr 1fr;
        }

        .lien{
            text-align: center;
        }